@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  background-color: #1F2937;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.nav h1 {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
}

li {
  list-style-type: none;
}

.nav-bar {
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 16px;
}

.head {
  color: #F9FAF8;
  font-size: 18px;
  display: flex;
  padding: 48px 16px;
  gap: 24px;
  flex-wrap: wrap;
}

.headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
}

.headline button {
  align-self: flex-start;
  padding: 8px 20px;
  background-color: #3882F6;
  border-radius: 8px;
  border: none;
  margin-top: 16px;
}

.header-img {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px 0px;
}

.header-img img {
  max-width: 100%;
  height: auto;
  align-self: flex-end;
}

.header-img p {
  font-size: 0.75rem;
  align-self: flex-end;
}




